  body{
  padding: 0;
  margin: 0;
  /* background-image: url('ImB1.png');   */ 
  /* background-size: 100% 100%; */
  /* background-size: cover; */
  /* background-repeat: repeat;        */
  /* background-position: center;  */
  /* background-color: brown; */
  }

  .Cover{
  /* background-image: url('cover1.jpg') ; */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('cover1.jpg');
  background-size: 100% 100%; 
  background-size: cover; 
  background-repeat: no-repeat;        
  background-position: center;  

  }
 

 


  .header{

    display: flex;
    justify-content: space-between;
    padding: 20PX;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.45);
    border-bottom:1px solid rgba(255, 255, 255, 0.45);

  
  }

    .header a{

    color:  rgba(255, 255, 255, 0.45);
  
  }

  .navlist , .Loglist , .Logolist{
    display: flex;
    list-style: none; 
    gap: 20px;
    
 
 
  }



   a{
    text-decoration: none;  

  }

  .navsign{
     
  border:  solid white;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
 

  }

 .navlogin ,.navitem{
 
  padding-bottom: 5px;
  padding-top: 5px;

 }

 .LOGOitem{
    font-size: 30px;

 }

  .logo-E{
    color: white;
  }

  .section1{

    /*background-color: rgb(54, 42, 165);*/
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    color: white;

   }

   .Content{
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 250px;
    /* background-color: violet; */
   }
.Titre{
    /* background-color: rgb(194, 23, 23); */
    
  font-size: 48px;


}
.Pragraphe{
    /* background-color: yellow; */


}
.div-btn{
    /* background-color: rgb(10, 202, 36); */

}

.btn1{
    background-color: rgb(223, 35, 35);
    border: 2px solid rgb(223, 35, 35);
    border-radius: 15px;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.btn2{
    background: transparent;  /* pas de couleur de fond */
    color: rgb(223, 35, 35);
    border: 2px solid rgb(223, 35, 35);
    border-radius: 15px;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.section2{
  display: flex;
  gap: 10px;
}

.Bloc1,.Bloc2,.Bloc3{
  display: flex;
  gap: 15px;
}


.Total{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
