
  .body{
  padding: 0;
  margin: 0;
  background-image: url('ImB1.png');  
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: repeat;       
  background-position: center; 
  background-color: rgb(163, 7, 7);
  }


 